/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #c8e8e9;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Add a black background color to the top navigation */
.topnav {
    position: relative;
    background-color: rgb(236, 80, 19);
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: green;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: rgb(236, 80, 19);
    color: white;
}

/* Centered section inside the top navigation */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 600px) {

    .topnav a,
    .topnav-right {
        float: none;
        display: block;
    }

    .topnav-centered a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
    
}

.responsive-image {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.container {
    width: 85%;
    background: #fff;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

div.content {
    text-align: left;
    text-decoration: none;
}

p {
    font-size: 1.5rem;
    word-spacing: 0.1rem;
}

h1 {
    color: #3e2093;
}