<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architecture</title>
    <link rel="stylesheet" href="../static/css/architecture.css">
    <link rel="icon" href="../templates/favicon.ico"> <!-- Favicon -->
</head>

<body>
    <!-- Top navigation -->
    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="#home" class="active" style="font-size: 1.5rem;">Diversity in Indian Architecture</a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="../../index.html">BACK</a>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="contact.html">CONTACT</a>
        </div>
    </div>
    <hr><br>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 6</div>
            <img src="../templates/images/architecture/tajmahal.jpg" height="500rem" width="100%">
            <div class="text">Taj Mahal</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 6</div>
            <img src="../templates/images/architecture/charminar.jpg" height="500rem" width="100%">
            <div class="text">Charminar</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 6</div>
            <img src="../templates/images/architecture/redfort.jpg" height="500rem" width="100%">
            <div class="text">Red Fort</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 6</div>
            <img src="../templates/images/architecture/rock-cut-kailasa.jpg" height="500rem" width="100%">
            <div class="text">rock-Cut-Kailasa</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 6</div>
            <img src="../templates/images/architecture/shivaji-terminus-mumbai.jpg" height="500rem" width="100%">
            <div class="text">Mumbai Victoria Terminus</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 6</div>
            <img src="../templates/images/architecture/sun-temple-koanrk.jpg" height="500rem" width="100%">
            <div class="text">Sun Temple of Konar6</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
    </div>
    <br>
    <hr><br>

    <center>
        <div class="content">
            <h3>Architecture of India: Architectural diversity in India</h3>
            <p>
                India is a very diverse country, and the architecture of India also follows suit. The architecture found
                in India ranges from ancient caves to modern-day skyscrapers. As India grows, the architecture of India
                continues to diversify by constantly going back to its roots while keeping up with current trends.
                <br><br>
                The earliest architectural adventures of India trace back to the Indus Valley civilization and, since
                then the architecture of India has been on the rise towards greatness. People of India inhabited
                shelters made of clay and mud bricks located on streets with grid layouts and a highly developed
                drainage system.
            </p><br>
            <p>
                The rock-cut architecture in India dates back to the 2nd Century BC and the technique created many
                famous
                caves and temples of India. The Ajanta and Ellora caves of Maharashtra employed rock-cut architecture
                for
                their formation.
                <br><br>
                India, the central hub for Hindu architecture, is further classified into Dravidian and Nagara styles of
                architecture. The Dravidian style flourished in the empires located in the South of India while the
                Nagara
                style predominantly displayed itself in the Northern parts of India.
            </p><br>
            <p>
                Architecture in Bengal saw the use of a lot of clay, terracotta, and laterite stones. Though the
                architecture is not grand, it is aesthetic and it manages to mirror the Bengali lifestyle. The Madan
                Mohana temple showcases the features of traditional Bengali architecture very appealingly.
                <br>
                Orissa displays an attractive array of architecture that dates back to the 7th Century. The architecture
                of Orissa rivals that of the Gothic Architecture found in European countries with its scooped out
                sculpting of deities on the rock facades and friezes of the temples. The revered Sun temple of Konark is
                an exemplary example of the architecture of Orissa depicting the Kalinga architectural style.
            </p>
        </div>
    </center>

    <script src="../static/js/architecture.js"></script>
</body>

</html>