<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clothing</title>
    <link rel="stylesheet" href="../static/css/clothing.css">
    <link rel="icon" href="../templates/favicon.ico"> <!-- Favicon -->
</head>

<body>
    <!-- Top navigation -->
    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="#home" class="active" style="font-size: 1.5rem;">Diversity in Indian Clothing</a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="../../index.html">BACK</a>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="contact.html">CONTACT</a>
        </div>
    </div>
    <hr><br>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 7</div>
            <img src="../templates/images/clothing/Dhoti.webp" height="500rem" width="100%">
            <div class="text">Dhoti</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 7</div>
            <img src="../templates/images/clothing/saree.jpg" height="500rem" width="100%">
            <div class="text">Saree</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 7</div>
            <img src="../templates/images/clothing/Turban.webp" height="500rem" width="100%">
            <div class="text">Turban</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 7</div>
            <img src="../templates/images/clothing/SalwarKameez.webp" height="500rem" width="100%">
            <div class="text">Salwar Kameez</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 7</div>
            <img src="../templates/images/clothing/Kediya.jpg" height="500rem" width="100%">
            <div class="text">Kediya</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 7</div>
            <img src="../templates/images/clothing/Mekhela.webp" height="500rem" width="100%">
            <div class="text">Mekhela</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">7 / 7</div>
            <img src="../templates/images/clothing/Taranga.webp" height="500rem" width="100%">
            <div class="text">Taranga</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
    </div>
    <br>
    <hr><br>

    <center>
        <div class="content">
            <h3>Indian Traditional Dressforms:</h3>
            <p>
                Clothing in India is dependent upon the different ethnicities, geography, climate, and cultural
                traditions of the people of each region of India.
                <br><br>
                The clothing in India also encompasses the wide variety of Indian embroidery, prints, handwork,
                embellishment, styles of wearing clothes.
                The cotton industry in ancient India was well developed, and several of the methods survive until today.
                Herodotus, an ancient Greek historian described Indian cotton as "a wool exceeding in beauty and
                goodness that of sheep".
                <br><br>
                Traditional Indian clothing for women in the north and east are saris worn with choli tops; a long skirt
                called a lehenga worn with choli and a dupatta scarf to create an ensemble called a gagra choli; or
                salwar kameez suits, while many south Indian women traditionally wear sari and children wear pattu langa
                <br><br>
                For men, traditional clothes are the Achkan/Sherwani, Bandhgala, Lungi, Kurta, Angarkha, Jama, Shalwar
                Kameez and Dhoti or Kurta Pajama.
                <br><br>
                The deities in Indian religions are embellished and decked up with sarees. Sarees are even noted as a
                sacrificial offering to many goddesses. Each sari contains a story about society and its people.
                Depending on climate, fabric, length and width, and what the wearer would like to accomplish that day,
                there are more than a hundred methods to drape a sari. To add to it, each state in the country has its
                own type of saree – ranging from the material it is made out of (one which is abundantly available in
                said state) to specific saris for exquisite events. They are also generational, with older women handing
                down their precious sarees to their younger offspring when they become of age. Many Indian women have
                been regularly following western styles with the changing of times. However, sarees are still the way to
                go for cultural festivities and religious events.
            </p>
        </div>
    </center>

    <script src="../static/js/architecture.js"></script>
</body>

</html>