<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dance forms</title>
    <link rel="stylesheet" href="../static/css/dances.css">
    <link rel="icon" href="../templates/favicon.ico"> <!-- Favicon -->
</head>

<body>
    <!-- Top navigation -->
    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="#home" class="active" style="font-size: 1.5rem;">Diversity in Indian Dance forms</a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="../../index.html">BACK</a>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="contact.html">CONTACT</a>
        </div>
    </div>
    <hr><br>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 8</div>
            <img src="../templates/images/dances/bharatnatyam.jpg" height="500rem" width="100%">
            <div class="text">bharatnatyam</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 8</div>
            <img src="../templates/images/dances/kathak.jpg" height="500rem" width="100%">
            <div class="text">Kathak</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 8</div>
            <img src="../templates/images/dances/kuchipudi.jpg" height="500rem" width="100%">
            <div class="text">Kuchipudi</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 8</div>
            <img src="../templates/images/dances/manipuri.jpg" height="500rem" width="100%">
            <div class="text">Manipuri</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 8</div>
            <img src="../templates/images/dances/kathakali.jpg" height="500rem" width="100%">
            <div class="text">Kathakali</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 8</div>
            <img src="../templates/images/dances/ghoomar.jpg" height="500rem" width="100%">
            <div class="text">Ghoomar</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">7 / 8</div>
            <img src="../templates/images/dances/odissi.jpg" height="500rem" width="100%">
            <div class="text">Odissi</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">8 / 8</div>
            <img src="../templates/images/dances/Garba.jpg" height="500rem" width="100%">
            <div class="text">Garba</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
    </div>
    <br>
    <hr><br>

    <center>
        <div class="content">
            <h3>Diversity of Dances in India</h3>
            <p>
                This article studies eight Indian classical dance forms (ICDs) with the help of ancient Indian theory of
                performing art comprised of the Natyashastra and Abhinaya-Darpana. The analysis shows how all ICDs enjoy
                the feature of ‘unity in diversity’, how all are united in theory and yet are diversified in practice.
                Each of the two attributes, ‘unity’ and ‘diversity’, are analysed in terms of three dimensions or
                aspects that stand as building-blocks for the art of dance (nritya). The three dimensions discussed are
                namely, technical (nritta), expressional (natya) and musical aspect (geetam and vadyam). The article
                gives illustrations and diagrammatic representations at appropriate places. It also reveals the
                interdependency of these three aspects and their inseparability from dance, throwing light on the huge
                scope for further analysis under this topic which is technically endless.
                <br><br>
                Sangeet Natak Akademi (also called as the National Academy for Music, Dance and Drama) set up by the
                Ministry of Culture, Government of India, has recognised India has eight classical dance forms. They
                come under a single umbrella term: Indian Classical Dance (henceforth referred as ICD). The eight ICDs
                originate from different states and communities of the nation and are named as follows.
                <br><br>
            </p>
            <h3>Classical Danceforms of India:</h3>
            <p>
                Kathak from Uttar Pradesh and Rajasthan <br>
                Manipuri from Manipur <br>
                Odissi from Orissa <br>
                Kuchipudi from Andhra Pradesh <br>
                Bharatanatyam from Tamil Nadu <br>
                Kathakali from Kerala <br>
                Mohiniyattam from the borders of Tamil Nadu and Kerala, and <br>
                Sattriya from Assam (Ministry of Culture, 2016)
            </p>
            <p>
            Each of these dances has a uniqueness of its own. Each is vividly distinguishable from the rest all in
            terms of its traditional repertoire of dance-movements, dancing-style, conventional structure of
            performance, traditionally choreographed repertoire of dance-items, musical accompaniment, and so on.
            And yet all the eight have strong commonalities among each other. That is, they all are thoroughly
            ‘Indian’ and ‘classical’ in their artistic spirit, their nature and culture, and their roots are founded
            in ancient Indian theory of performing arts (Massey, 1999; Garg 1996; Coomaraswamy, Duggirala, 1917).
            This theory is comprised of two treatises namely the Natyashastra and Abhinaya-Darpana [i].
            <br><br>
            In other words, all eight ICDs are like sister-dance-forms that originated from the lands of the same
            Mother India and yet are individual entities. They inherit from their motherland one of her prominent
            features; the feature of ‘unity in diversity’. This article analyses this wonderful co-existence of
            unity and diversity of ICDs. Analysis of each, ‘unity’ and ‘diversity’, is done in regard with three
            dimensions or aspects which are the building blocks for the performing-art of dance (Nritya). They are;
            <br><br>
            Technical Aspect (Nritta)
            Expressional Aspect (Natya), and
            Musical Aspect (Geetam and Vadyam) [ii] (Nagar, 2011).
            </p>
        </div>
    </center>

    <script src="../static/js/architecture.js"></script>


</body>

</html>