<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
    <link rel="stylesheet" href="../static/css/food.css">
    <link rel="icon" href="../templates/favicon.ico"> <!-- Favicon -->
</head>

<body>
    <!-- Top navigation -->
    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="#home" class="active" style="font-size: 1.5rem;">Diversity in Indian Food</a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="../../index.html">BACK</a>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="contact.html">CONTACT</a>
        </div>
    </div>
    <hr><br>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->

        <div class="mySlides fade">
            <div class="numbertext">1 / 7</div>
            <img src="../templates/images/food/food.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>



        <div class="mySlides fade">
            <div class="numbertext">2 / 7</div>
            <img src="../templates/images/food/1.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 /7 </div>
            <img src="../templates/images/food/2.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 7</div>
            <img src="../templates/images/food/3.png" height="500rem" width="100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 7</div>
            <img src="../templates/images/food/4.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 7</div>
            <img src="../templates/images/food/5.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">7 / 7</div>
            <img src="../templates/images/food/6.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>




        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>

    </div>
    <br>
    <hr><br>

    <center>
        <div class="content">
            <h3>Indian Food- Unity In Diversity</h3>
            <p>
                Indian cuisine consists of a variety of regional and traditional cuisines native to the Indian
                subcontinent.
                <br><br>
                Indian food is also heavily influenced by religion, in particular Hinduism and Islam, cultural choices
                and traditions.
                <br><br>
                Many types of meat are used for Indian cooking, but chicken and mutton tend to be the most commonly
                consumed meats.Traditionally, meals in India are eaten while seated either on the floor, or on very low
                stools or mattress. Food is most often eaten with the hands rather than cutlery.
                <br><br>
                An Indian meal is a proper five-course meal. Indian homes are known for their hospitality and the
                congeniality commences with a beverage that is offered as an aperitif before serving the meal. These
                beverages consist of the Punjabi Lassi and Ganne ka Sharbat (Sugarcane Juice), the Gujarati Chhaas, and
                the Konkani Kokum Sharbat. These are also consumed during the meals. Then we have a plateful of two
                courses, appetizers and the main course. 
                <br><br>
                If you are in a North Indian home, be prepared to roll on your
                bed with a tight paunch! Your trencher will be full of Kebabs, Kachauri, Chaats (Chaats with dahi/
                yogurt are very popular in the North), the Sindhi Kadhi, pakoras, kormas, paneer delicacies, kulchas,
                naans and Chhole Chana. North Indians also have this peculiar affinity for Parathas, but that is the
                staple breakfast for most of them. Now if you’re in tropical Southern India, you will be served your
                meals on a banana or a plantain leaf. In South India people believe that the shape of the banana leaf
                resembles the human tongue and the fares are placed in such a way on the leaf so as to suit the taste
                buds. 
                <br><br>
                Southern India is very well known for its healthy and light Idlis and fluffy dosas, uttappams and
                appams. We also have mouthwatering curries here specifically named as ‘vindaloo’ in Goa. Vindaloo is an
                extremely spicy Indian curry. Then the Hyderabadi Dum Biryani is also globally known.
            </p>
        </div>
    </center>

    <script src="../static/js/architecture.js"></script>

</body>

</html>