<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Languages</title>
    <link rel="stylesheet" href="../static/css/languages.css">
    <link rel="icon" href="../templates/favicon.ico"> <!-- Favicon -->
</head>

<body>
    <!-- Top navigation -->
    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="#home" class="active" style="font-size: 1.5rem;">Diversity in Indian Languages</a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="../../index.html">BACK</a>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="contact.html">CONTACT</a>
        </div>
    </div>
    <hr><br>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 6</div>
            <img src="../templates/images/languages/hindi.jfif" height="500rem" width="100%">
            <div class="text">Hindi</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 6</div>
            <img src="../templates/images/languages/Telugu.jfif" height="500rem" width="100%">
            <div class="text">Telugu</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 6</div>
            <img src="../templates/images/languages/tamil.jfif" height="500rem" width="100%">
            <div class="text">Tamil</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 6</div>
            <img src="../templates/images/languages/kannada.jfif" height="500rem" width="100%">
            <div class="text">Kannada</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 6</div>
            <img src="../templates/images/languages/Urdu.jfif" height="500rem" width="100%">
            <div class="text">Urdu</div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">6 / 6</div>
            <img src="../templates/images/languages/malayalam.jpg" height="500rem" width="100%">
            <div class="text">Malayalam</div>
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
    </div>
    <br>
    <hr><br>

    <center>
        <div class="content">
            <h3>Celebrating Diversity in Unity Through Languages</h3>
            <p>
                As per a 2001 Census, there are 1652 mother tongues and 122 languages and from those, 52 languages have
                one million speakers. Celebrating this diversity has been India’s unity. Languages have played a key
                role in culture and cognition; this in turn has also enabled us to understand culture more deeply.
                <br><br>
                India, as Diana L. Eck says, is a ‘sacred geography’ and it is our people who define its very nature and
                contours. This came to the fore when the Government of India awarded the Padmashri to Haldhar Nag in
                2016; he is a tribal hero, people’s poet and an exponent of the indigenous Kosli language in Sambalpur
                in Odisha. He fought and defied poverty to create poetry in Kosli language.
                <br><br>
                From down south, Gurram Jashuva, Andhra Pradesh’s famous Dalit poet and Padma Bhushan awardee whose
                writings find resonance in the state’s literature to date, also learnt Sanskrit, which laid the
                foundation for some of his foremost works. Another striking example is Verghese Kurien from Kerala, the
                milkman of India. A Malayali Syrian Christian who moved to Anand district in Gujarat to enable the brand
                that Amul is today.
                <br><br>
                Cinema in India has also played a key role in being a gateway for people to understand and learn
                languages. The recent example of blockbusters like KGF Chapter 1 and Bahubali, wherein although the
                films were made by the Kannada and Telugu movie industries respectively, they were positioned and
                admired as Indian cinema at large. It has also proved to be an intrinsic gateway for people to
                understand the art forms of South India and needless to state, our culture.
                <br><br>
                India is also home to the ancient languages of Tamil and Sanskrit. Prime Minister Narendra Modi in 2018
                in an interaction with students in Delhi, stated how Tamil preceded Sanskrit as India’s most ancient
                language.
                <br><br>
                In view of this, Tamil Nadu has produced seminal poets and journalists who have been social reformers.
                They have transcended boundaries and comfort zones to learn and equip themselves with various languages
                of India. One among them is C. Subramania Bharati, also known as Bharatiyar. He was aged 39 when he
                passed away; he was proficient in English, Hindi, Tamil and Sanskrit. The Government of India has
                conferred upon him the title of ‘National Poet’ and his works have been translated into all major Indian
                languages, as well as a number of European languages, including French, German, Russian and Czech. 2021
                marks the death centenary year of this icon.
                <br><br>
                In essence, this is the beauty of celebrating India’s rich linguistic diversity. As the famous Tamil
                philosopher Kaniyan Pungundranar said 3000 years ago, ‘yaadhum oore yaavarum kelir’. This means ‘I am a
                citizen of the world and every citizen is my kith and kin’. True to this, no matter what language we
                know, learn, speak and teach, every citizen will be a son or daughter of India.
            </p>
        </div>
    </center>

    <script src="../static/js/architecture.js"></script>

</body>

</html>