<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Literature</title>
    <link rel="stylesheet" href="../static/css/literature.css">
    <link rel="icon" href="../templates/favicon.ico"> <!-- Favicon -->
</head>

<body>
    <!-- Top navigation -->
    <div class="topnav">

        <!-- Centered link -->
        <div class="topnav-centered">
            <a href="#home" class="active" style="font-size: 1.5rem;">Diversity in Indian Literature</a>
        </div>

        <!-- Left-aligned links (default) -->
        <a href="../../index.html">BACK</a>
        <!-- Right-aligned links -->
        <div class="topnav-right">
            <a href="contact.html">CONTACT</a>
        </div>
    </div>
    <hr><br>
    <!-- Slideshow container -->
    <div class="slideshow-container">

        <!-- Full-width images with number and caption text -->
        <div class="mySlides fade">
            <div class="numbertext">1 / 5</div>
            <img src="../templates/images/literature/1.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">2 / 5</div>
            <img src="../templates/images/literature/2.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">3 / 5</div>
            <img src="../templates/images/literature/3.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">4 / 5</div>
            <img src="../templates/images/literature/4.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>

        <div class="mySlides fade">
            <div class="numbertext">5 / 5</div>
            <img src="../templates/images/literature/5.jpg" height="500rem" width="100%">
            <div class="text"></div>
        </div>



        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
    </div>
    <br>

    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
    </div>
    <br>
    <hr><br>

    <center>
        <div class="content">
            <p>
                Indian literature refers to the literature produced on the Indian subcontinent until 1947 and in the
                Republic of India thereafter. The Republic of India has 22 officially recognised languages.
                <br><br>
                Examples of early works written in Vedic Sanskrit include, the core Vedas and Upanishads.
                The Buddhist Charyapadas are often cited as the earliest example of Assamese literature.
                <br><br>
            </p>
                <h4>Role of language and literature in unity in diversity:</h4>
            <p>
                1. India has over 800 different languages spoken daily. Such difference has added to the cultural value
                and heritage of India.
                <br><br>
                2. The Indian government has recognized 22 languages as official so as to respect the diversity of the
                country.
                <br><br>
                3. Indian literature has developed since the ancient times when the great epics Mahabharata and Ramayana
                were written in Sanskrit.
                <br><br>
                4. Indian literature can be found in numerous languages and forms- epics, Vedas, philosophy, folk tales,
                hymns, treatises etc. Such a variety of forms have united people.
                <br><br>
                5. Despite the diversity in which the languages and literature exist, it has become a pride for the
                country and the difference has become a unifying force.
            </p>
        </div>
    </center>
    <script src="../static/js/architecture.js"></script>

</body>

</html>